@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@700&family=Open+Sans:wght@600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color-light);
    font-size: 22px;
}

ul {
    list-style: none;
}
/* configuração */
:root {
    --color-dark: #121214;
    --color-light: #ffffff;
    --color-transparent: transparent;
    --bg-dark: #181818;
    --corrigindo-layout: #31180a;
    --degrade-logo-home: -webkit-linear-gradient(
        264.26deg,
        #ff267a 0%,
        #ffa634 101.03%
    );
    --estrelas-degrade: -webkit-linear-gradient(
        264.26deg,
        #f07218 0%,
        #ffa634 101.03%
    );
    --boxShadowColor: #ffc400;
    --bgDarkCaroucel: #000000;
    --linhaTitleCaroucel: #ffa634;
}

html,
body {
    background-color: var(--bgDarkCaroucel);
}

/* container da página */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    background-color: var(--color-dark);
}

.container.background {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container.background.background-img {
    background-image: url("../img/batman.png");
    position: relative;
    opacity: 1;
    z-index: 1;
}

.container.background.background-img::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: -2;
    opacity: 2;
}

/* logo e menu */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

.header .logoHome {
    font-size: 40px;
    background: var(--degrade-logo-home);
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
}

.header .nav_toogle {
    display: none;
    position: relative;
    width: 44px;
    height: 24px;
    border: 2px solid var(--color-transparent);
    cursor: pointer;
}

.header .nav_toogle span:nth-child(1) {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 3px;
    background-color: var(--color-light);
}

.header .nav_toogle span:nth-child(2) {
    position: absolute;
    top: 8px;
    right: 0px;
    width: 40px;
    height: 3px;
    background-color: var(--color-light);
}

.header .nav_toogle span:nth-child(3) {
    position: absolute;
    top: 17px;
    right: 0px;
    width: 22px;
    height: 3px;
    background-color: var(--color-light);
}

.navbar_toogle {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 60%;
    height: 100%;
    padding: 2rem;
    z-index: 999;
    overflow: hidden;
    background-color: var(--color-dark);
    transition: 0.7s right ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.navbar_toogle .clearToggle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    background-color: var(--color-light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    line-height: 20px;
    cursor: pointer;
}

.active {
    right: 0;
}

.navBar_desktop {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 3rem;
}

.navBar_desktop .serch-box {
    background: transparent;
    border-radius: 40px;
}
.navBar_desktop .serch-box:hover {
    background: var(--color-light);
}
.navBar_desktop .serch-box:hover > .serch-text {
    width: 240px;
    padding: 0 8px;
}
.navBar_desktop .serch-box:hover > .serch-btn {
    background: var(--color-light);
    color: #2f3640;
    font-size: 22px;
}
.navBar_desktop .serch-box .serch-text {
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    color: var(--color-dark);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    border-radius: 40px 0px 0px 40px;
}
.navBar_desktop .serch-box .serch-btn {
    color: var(--color-light);
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
    font-size: 16px;
    background: var(--color-transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

/* section descript */

.descript {
    padding-top: 2em;
    padding-left: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    background-color: var(--color-transparent);
}

.descript .caixaAcao {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 10px;
    width: 49px;
    height: 24px;
    background-color: var(--bg-dark);
    border-radius: 0px 8px;
}

.descript .caixaAcao .text {
    color: #ffa634;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.descript .estrelas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 5px 0px;
}

.descript .estrelas span {
    font-size: 23px;
    color: #ffa634;
    background: #ffa634;
    background: var(--estrelas-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 3px;
}

.descript .estrelas i {
    padding-left: 1.3em;
    font-size: 23px;
}
.descript .estrelas .time {
    font-size: 23px;
    padding-left: 5px;
}

/* Segundo Section */

.descricaoText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 64.4vh;
}

.descricaoText .title {
    font-size: 56px;
    margin: 3rem 1.3rem;
}

.descricaoText .paragraph {
    width: 536px;
    height: 84px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: 0px 1.3rem;
}

.descricaoText .btnVideo {
    width: 286px;
    height: 56px;
    display: grid;
    place-content: center;
    background: #ffa634;
    border-radius: 4px;
    border: none;
    color: var(--color-dark);
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    transition: 0.5s;
    transform: scale(1);
    box-shadow: none;
    margin: 4rem 1.3rem;
    padding: 1.2em;
    cursor: pointer;
}

.descricaoText .btnVideo:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 26px var(--boxShadowColor);
}

/* Terceiro section */
.caroucel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    position: relative;
}

.caroucel::before {
    content: "";
    position: absolute;
    top: 310px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    background-color: var(--bgDarkCaroucel);
}

.caroucel .titleCaroucel {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 32.4px;
    margin: 1em 1.5rem;
    position: relative;
}

.caroucel .titleCaroucel::before {
    content: "";
    position: absolute;
    top: 47px;
    left: 0px;
    width: 61px;
    height: 4px;
    background-color: var(--linhaTitleCaroucel);
}

.caroucel .caroucelImg {
    flex: 1 0 100px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(100px, 145px);
    grid-template-areas: "item1 item2 item3 item4 item5";
    justify-items: center;
    margin-top: 2em;
}

.caroucel .caroucelImg .item {
    width: 220px;
    position: relative;
}

.caroucel .caroucelImg .item img {
    width: 100%;
}

.caroucel .caroucelImg .item::after {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 323px;
    background-color: rgba(0, 0, 0, 0.2);
    content: "";
    z-index: 1;
}

.caroucel .caroucelImg .item::before {
    position: absolute;
    top: 215px;
    left: 10px;
    content: "Categoria";
    color: #ffa634;
    width: 53px;
    height: 16px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    background-color: #181818;
    padding: 4px 8px;
    border-radius: 0px 8px;
    z-index: 1;
}

.caroucel .caroucelImg .item.item1 {
    grid-area: item1;
}
.caroucel .caroucelImg .item.item2 {
    grid-area: item2;
}
.caroucel .caroucelImg .item.item3 {
    grid-area: item3;
}
.caroucel .caroucelImg .item.item4 {
    grid-area: item4;
}
.caroucel .caroucelImg .item.item5 {
    grid-area: item5;
}

.caroucel .caroucelImg .item .StarFilm span {
    position: relative;
    top: -72px;
    left: 12px;
    overflow: hidden;
    z-index: 2;
    text-shadow: 0px 0px 8px var(--boxShadowColor);
}

.caroucel .caroucelImg .item .StarFilm .text {
    position: relative;
    top: -65px;
    left: 13px;
    overflow: hidden;
    z-index: 2;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 33px;
    color: var(--color-light);
    text-shadow: 2px 1px 2px var(--bgDarkCaroucel);
}

/* Rodape */

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    height: 18vh;
    padding-top: 1em;
    padding-bottom: 2em;
}

.rodape .logo {
    width: 100px;
    padding-left: 1.2em;
}

.rodape .logo img {
    width: 100%;
}

.rodape .social {
    padding-right: 3em;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1em;
}

.rodape .social a {
    color: var(--color-light);
}

.rodape .social i {
    font-size: 25px;
}

.rodape .social .twitter {
    width: 27.5px;
    height: 22.43px;
}

.rodape .social .facebook {
    width: 13.75px;
    height: 25px;
}

/* Modal vídeo */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}
.modal.activeModal {
    display: block;
}
.modal .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    max-width: auto;
    max-height: auto;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.modal .background .box {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-content: center;
}
.modal .background .box span {
    font-size: 2em;
    font-weight: bold;
    color: #ff0000;
    line-height: 20px;
}
.modal .background #video {
    width: 580px;
    height: 325px;
    border-radius: 10px;
}

/* mobile */
@media (max-width: 1100px) {
    .caroucel .caroucelImg {
        padding-top: 3em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
        gap: 3em;
        position: relative;
        height: auto;
        background-color: #000000;
    }
    .descricaoText .paragraph {
        font-size: 15px;
        width: 90%;
    }
}
@media (max-width: 980px) {
    .navBar_desktop {
        display: none;
    }
    .header .nav_toogle {
        display: block;
    }
    .modal .background {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .modal .background #video {
        width: 90%;
    }
}

@media (max-width: 425px) {
    .rodape {
        padding-top: 80px;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 80px;
    }
}
